<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th *ngFor="let linha of linhasDoCrud">{{linha}}</th>
      
      </tr>
    </thead>
      <tbody>
        <tr *ngFor="let r of resultados">
            <th scope="row"></th>
            <td>{{r.identificacao}}</td>
            <td>{{r.dataNascimento}}</td>
            <td>{{r.dataEntradaReproducao}}</td>
            <td>{{r.quantidadeTetosFuncionais}}</td>
            <td>{{r.status}}</td>

       
        </tr>
      </tbody>
  </table>