<label for="validationCustom02">Nome da vacina</label>
                <input [(ngModel)]="nome" type="text" class="form-control" id="validationCustom02" placeholder="Exemplo: Cebalena" value="Otto" required>
                <label for="validationCustom02">Fornecedor</label>
                <input [(ngModel)]="fornecedor" type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>
                <button (click)="cadastrarVacina()" type="button" class="btn btn-success btn-lg btn-block mt-4">Cadastrar</button>


  