<label for="validationCustom02">Nome de visitante</label>
                <input [(ngModel)]="nomeVisitante" type="text" class="form-control" id="validationCustom02" placeholder="Exemplo: Cebalena" value="Otto" required>
                <label for="validationCustom02">Motivo da visita</label>
                <input [(ngModel)]="motivo" type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>
                <label for="validationCustom02">Data de visita</label>
                <input [(ngModel)]="dataVisita" type="date" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>
                <label for="validationCustom02">Horário de início</label>
                <input [(ngModel)]="horarioInicio" type="time" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>
                <label for="validationCustom02">Horário de fim</label>
                <input [(ngModel)]="horarioFim" type="time" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>
                <label for="validationCustom02">Último local de contato com suínos</label>
                <input [(ngModel)]="ultimoLocal" type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>
                <label for="validationCustom02">Último horario de contato com suínos</label>
                <input [(ngModel)]="ultimoHorarioContato" type="time" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>
                <label for="validationCustom02">Empresa ou instituição do visitante</label>
                <input [(ngModel)]="empresaInstituicao" type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>
               
                
                
               
                <button (click)="cadastrarVisita()" type="button" class="btn btn-success btn-lg btn-block mt-4">Cadastrar</button>


              