<div class="btn-group " role="group" aria-label="Basic example" style="margin: 0 auto; text-align: center">
    <button (click) = "clicouExibir()" type="button" class="btn btn-lg  btn-secondary">
      <img src="../../assets/img/icon/list.png" alt="">
      Exibir</button>
    <button (click) = "clicouCadastrar()" type="button" class="btn btn-lg btn-secondary">
        <img src="../../assets/img/icon/create.png" alt="">

      Cadastrar</button>
    <!-- <button (click) = "clicouBusca()" type="button" class="btn btn-lg btn-secondary">
        <img src="../../assets/img/icon/search.png" alt="">

      Busca</button>
     -->
  </div>