
<div class="mt-2">
  <div class="row cartoes">
    
    
    <div class="col-4">
      <a routerLink="{{rota1}}">
        <app-cartao-home  urlDaImagem="{{urlDaImagem1}}" titulo="{{titulo1}}"></app-cartao-home>
      </a>
    </div>
    <div class="col-4">
        <a routerLink="{{rota2}}">
        <app-cartao-home urlDaImagem="{{urlDaImagem2}}" titulo="{{titulo2}}"></app-cartao-home>
      </a>

      </div>
    <div class="col-4">
        <a routerLink="{{rota3}}">
        <app-cartao-home urlDaImagem="{{urlDaImagem3}}" titulo="{{titulo3}}"></app-cartao-home>
      </a>

      </div>
  </div>
</div>
  