body{

    background-image: url(assets/img/farm2.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.opacidade{


    background-color: rgba(0, 0, 0, 0.493);




}