
  <app-navbar Login='false'></app-navbar>


  <div class="fundo">

  
    
    
<div class="card cartao_opcoes text-white text-center ">
    <div class="card-body">
        <h5 class="card-title">
            <div> dasdsadasads</div> 
         </h5>
         

        <h6 class="card-subtitle mb-2 text-muted">dasdassadasd</h6>                                
     

      
            <img   width="64px" height="64px" alt="">

            <p class="card-text">dassdasda</p>
       


    </div>
</div>

</div>


















    
      
