<app-navbar Login='home'>
</app-navbar>





<div class="mt-5 fundo" >
  <app-linha-de-cartoes urlDaImagem1="../../assets/img/detective.png" urlDaImagem2="../../assets/img/pig.png" urlDaImagem3="../../assets/img/medicine.png"
    titulo1="Inspeção" titulo2="Matrizes" titulo3="Medicação" rota1='/inspecao' rota2='/matriz' rota3='/medicacao'>
  </app-linha-de-cartoes>


  <app-linha-de-cartoes urlDaImagem1="../../assets/img/vacina.png" urlDaImagem2="../../assets/img/visitors.png" urlDaImagem3="../../assets/img/forms.png"
    titulo1="Vacinas" titulo2="Visitas" titulo3="Edições em Lote" rota1='/vacina' rota2='/visita' rota3='/'>
  </app-linha-de-cartoes>



</div>
