<label for="validationCustom02">Identificação</label>
<input [(ngModel)]="Identificacao" type="text" class="form-control" id="validationCustom02"
  value="Otto" required>
<label for="validationCustom02">Data de nascimento</label>
<input [(ngModel)]="DatadeNascimento" type="date" class="form-control" id="validationCustom02" 
  value="Otto" required>
<label for="validationCustom02">Data de entrada em reprodução</label>
<input [(ngModel)]="DataEntradaReproducao" type="date" class="form-control" id="validationCustom02" 
  value="Otto" required>
<label for="validationCustom02">Quantidade de tetos funcionais</label>
<input [(ngModel)]="QuantidadeTetosFuncionais" type="number" class="form-control" id="validationCustom02" 
  value="Otto" required>
<label for="validationCustom02">Status</label>
<input [(ngModel)]="Status" type="text" class="form-control" id="validationCustom02"  value="Otto"
  required>
<button (click) = "cadastrarMatriz()" type="button" class="btn btn-success btn-lg btn-block mt-4">Cadastrar</button>


